body {
    background: #1F1D1E;
}

@font-face
{
    font-family: Aaargh;
    src: url(fonts/Aaargh/Aaargh.ttf);
}

#header {
    position: fixed;
    height: 120px;
    weight: 100%;
    background: #5E5E61;
    top: 0;
    left: 0;
    right: 0;
}

ul.nav {
    margin: 0;
    padding: 0;
}

ul.nav li {
    float: left;
    display: block;
    position: fixed;
    height: 120px;
    background: #5E5E61;
}

ul.nav li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Aaargh, Helvetica, Georgia;   
}

#contents {
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active{
    color: #dddddd;
    text-decoration: none;
}

#textbox{
    text-align: justify;
    margin-left: 50px;
    width: 400px;
}

.main{
    font-size: 16px;
    font-weight: bold;
    font-family: Aaargh, Helvetica, Georgia;
}

.mainbig{
    font-size: 40px;
    font-weight: bold;
    font-family: Aaargh, Helvetica, Georgia;
}

.textfont{
    font-size: 16px;
    color: #fff;
    font-family: Aaargh, Helvetica, Georgia;
}

.textfontsmall{
    font-size: 10px;
    font-family: Aaargh, Helvetica, Georgia;
}
